= form_for @prototype, :url => {:action => :create} do |f|
  .container.proto-new{action: ""}
    .col-md-8.col-md-offset-2
      %header.row.user-nav.row
        .col-md-12
          .proto-new-title
            =f.text_field :title ,placeholder: "Title"
      .row
        .col-md-12
          .cover-image-upload
            =f.fields_for :prototype_images do |prototype_image|
              =prototype_image.file_field :image
              =prototype_image.hidden_field :status, value:0
        .col-md-12
          %ul.proto-sub-list.list-group
            -3.times do
              =f.fields_for :prototype_images do |prototype_image|
                %li.list-group-item.col-md-4
                  .image-upload
                    =prototype_image.file_field :image
                    =prototype_image.hidden_field :status, value:1
      .row.proto-description
        .col-md-12
          =f.text_field :catch_copy, placeholder: "Catch Copy"
        .col-md-12
          =f.text_area :concept, placeholder: "Concept", cols: "30", rows: "4"
        .col-md-12
          %h4 Tag List
          .row
            .col-md-3
              %input{type: "text", placeholder: "Web Design"}/
            .col-md-3
              %input{type: "text", placeholder: "UI"}/
            .col-md-3
              %input{type: "text", placeholder: "Application"}/
      .row.text-center.proto-btn
        =f.submit "Post!", class: "btn btn-lg btn-primary btn-block"